@charset "UTF-8";

.date{
    background-color: white;
    border: none;
    font-size: black;
    color: black;
}
label
{
    font-size: large;
    font-weight: 700;
}
 

body, html{height:100%;}



 

 

 